# Moving Average Convergence Divergence (MACD) analysis

## Read the CSV file

## Add ema equation here as latex

In [14]:
from typing import *
import pandas as pd
from pandas.core.interchange.dataframe_protocol import DataFrame

csvFile = pd.read_csv('pkn_orlen.csv', sep=';', usecols=['Data', 'Otwarcie'])
stock_data = csvFile.rename(columns={'Data': 'Date', 'Otwarcie': 'Price'})
stock_data = stock_data.tail(1026)

# Make indexes start at 0
smallest_index = stock_data.index.min()
stock_data.index = stock_data.index - smallest_index

stock_data

            Date    Price
0     2021-02-09  46.8351
1     2021-02-10  47.4272
2     2021-02-11  46.4455
3     2021-02-12  46.3201
4     2021-02-15  47.3339
...          ...      ...
1021  2025-03-07  63.4600
1022  2025-03-10  64.4200
1023  2025-03-11  64.7500
1024  2025-03-12  66.2000
1025  2025-03-13  66.2500

[1026 rows x 2 columns]

In [15]:
def calc_ema(data: DataFrame, n : int) -> DataFrame:
    alpha = 2 / (n + 1)
    prices =  data['Price'].to_list()
    ema_values = [prices[0]]
    for i in range(n, len(prices)):
        new_ema = round((alpha * prices[i]) + (1 - alpha) * ema_values[-1], 2)
        ema_values.append(new_ema)
    ema_df = pd.DataFrame({
        'Date' : data['Date'].tail(len(ema_values)),
        f'EMA_{n}': ema_values}
    )
    return ema_df

In [17]:
def calc_macd(data: DataFrame, n1 = 26, n2=12 ):
    macd_values = []
    # for i in range(1, len(data)):
    #     macd_values.append(data['EMA_12'][i] - data['EMA_26'][i])

In [ ]:
def calc_signal(data: DataFrame, n = 9):
    pass

In [9]:
# calculate ema
EMA_12 = calc_ema(stock_data, 12)[-1000:]
EMA_26 = calc_ema(stock_data, 26)[-1000:]
EMAS = pd.merge(EMA_12, EMA_26, on='Date')
EMAS

           Date  EMA_12  EMA_26
0    2021-03-17   51.25   47.17
1    2021-03-18   51.17   47.43
2    2021-03-19   50.87   47.56
3    2021-03-22   50.60   47.67
4    2021-03-23   50.51   47.84
..          ...     ...     ...
995  2025-03-07   61.86   59.40
996  2025-03-10   62.25   59.77
997  2025-03-11   62.63   60.14
998  2025-03-12   63.18   60.59
999  2025-03-13   63.65   61.01

[1000 rows x 3 columns]

In [ ]:
# calculate macd and signal
MACD = calc_macd(EMAS)
signal = calc_signal(MACD)
# MACD